.header {
  .top {
    display: flex;
    justify-content: space-between;
    background-color: #b8d0e7;
    align-items: center;
    padding: 10px 30px;
    .logo {
      display: flex;
      align-items: center;
      gap: 20px;
      img {
        width: 70px;
        height: 70px;
      }
      .search {
        form {
          border: 1px solid #eee;
          border-radius: 10px;
          input {
            border: none;
            border-radius: 10px 0 0 10px;
            padding: 10px;
            width: 300px;
          }
          button {
            border: none;
            border-radius: 0 10px 10px 0;
            padding: 10px 20px;
            cursor: pointer;
            font-weight: 500;
          }
        }
      }
    }
    .menu {
      ul {
        display: flex;
        align-items: center;
        gap: 15px;
        margin: 0;
        li {
          font-size: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          a{
            color: #333;
            &:hover{
              color: #eee;
            }
          }
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
