.postRequest {
  flex: 2;
  border: 1px solid #eee;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  height: 200px;
  line-height: 1.6;
  .content {
    text-align: center;
    p {
      font-weight: 500;
      font-size: 15px;
      color: #8b8b8b;
    }
    button {
      padding: 10px 20px;
      margin-top: 20px;
      border-radius: 20px;
      border: none;
      outline: none;
      background-color: #2b78d4;
      color: #fff;
      font-weight: 700;
      cursor: pointer;
      &:hover {
        background-color: #9dc7ef;
      }
    }
  }
}
